body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .background {
    background-image: url('1.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 800px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header-icons {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 999; /* Ensure the icons stay on top of other elements */
  }
  
  
  .header-icons i {
    font-size: 24px;
    margin-right: 10px;
    color: #ffffff; /* White color */
  
  }
  .cart-counter {
    position: absolute;
    top: 50%;
    left: -20px; /* Adjust as needed for positioning */
    transform: translateY(-50%);
    background-color: #ffffff; 
    color: #228B22;
    padding: 2px 5px; 
    border-radius: 70%;
    font-size: 12px; 
  }

  .options {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap; 
  }
  .option {
    flex: 0 0 calc(23% - 10px); 
    text-align: center;
    margin-bottom: 20px; 
  }
    
  .option h3 {
    margin-top: 10px;
    font-family: Arial, sans-serif;
  }
  .option-image img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff; 
}

button {
  background-color: #2f781b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0.9, 0.9, 0.9, 0.9);
}

button:hover {
  background-color: rgb(73, 135, 75);
}

