.header-icons {
position: absolute;
top: 20px;
right: 20px;
display: flex;
align-items: center;
}

/* HOORIYAS */
.header-icons {
position: fixed;
top: 20px;
right: 20px;
display: flex;
align-items: center;
z-index: 999; /* Ensure the icons stay on top of other elements */
}

.header-icons i {
font-size: 24px;
margin-right: 10px;
color: #ffffff; /* White color */

}
.cart-counter {
position: absolute;
top: 50%;
left: -20px; /* Adjust as needed for positioning */
transform: translateY(-50%);
background-color: #ffffff; 
color: #228B22;
padding: 2px 5px; 
border-radius: 70%;
font-size: 12px; 
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
