/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #353131;
}

.container {
    display: flex;
    height: 100vh;
}

.back-icon:hover {
    color: #1e90ff;
    cursor: pointer;
}

/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #254636;
    color: #fff;
    padding: 20px;
}

.sidebar .option {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
}

.sidebar .option:hover {
    background-color: #444;
}

.sidebar .option.active-option {
    background-color: #444;
}

/* Main Content Styles */
.main-content {
    flex-grow: 1;
    padding: 20px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-text p {
    margin-bottom: 10px;
    font-size: 16px;
}

#tabContent {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Profile Form Styles */
.profile-info {
    margin-bottom: 30px;
}

.profile-options input[type="text"],
.profile-options input[type="email"],
.profile-options input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.profile-options button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.profile-options button:hover {
    background-color: #0056b3;
}
