/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
    
}

.back-icon:hover {
    color: #1e90ff;
    cursor: pointer;
}

/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #254636;
    color: #fff;
    padding: 20px;
}

.sidebar .option {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
}

.sidebar .option:hover {
    background-color: #444;
}

.sidebar .option.active-option {
    background-color: #17a842;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background:#ffffff;
    margin-left: 20px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


.profile-info {
    margin-bottom: 30px;
}

.profile-text input[type="text"],
.profile-text input[type="email"],
.profile-text input[type="tel"] {
    width: calc(100% - 22px); /* Adjust width minus padding and borders */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.profile-text button {
    margin-top:20px;
    background-color: #15792d; /* Green color for update button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0.9, 0.9, 0.9, 0.9);
}

.profile-text button:hover {
    background-color: #073e13; /* Darker shade of green on hover */
}
.password-change {
    margin-top: 30px;
}

.password-change h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.password-inputs input[type="password"] {
    width: calc(100% - 22px); /* Adjust width minus padding and borders */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.password-inputs h3 {
    color: #584e4e;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.update-button {
    margin-top: 20px; /* Space between password change section and update button */
}

.update-button button {
    background-color: #15792d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0.9, 0.9, 0.9, 0.9);
}

.update-button button:hover {
    background-color: #073e13;
}

