body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    background-image: url('3.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: auto;
    width: 80%;
    max-width: 600px; 
}
.back-icon {
    position: absolute;
    left: 20px; /* Adjust as needed */
    top: 20px; /* Adjust as needed */
    cursor: pointer;
    color: #ffffff; /* Icon color */
}
.back-icon:hover {
    color: blue; /* Change color on hover */
}

h1.center {
    text-align: center;
    font-family: "Times New Roman", Times, serif; 
}



label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="number"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px auto; 
    display: block; 
}


button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #8EE4AF;
    color: white;
}