body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('3.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px; /* Adjusted width for smaller screens */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centering content */
}
.back-icon {
    position: absolute;
    left: 20px; 
    top: 20px; 
    cursor: pointer;
    color: #ffffff; 
}
.back-icon:hover {
    color: blue; /* Change color on hover */
}
.header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

form {
    margin-top: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.small-btn {
    width: auto;
    padding: 8px 12px; /* Adjusted padding for smaller buttons */
    font-size: 16px; /* Adjusted font size */
}

input[type="submit"] {
    background-color: #2f781b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #255e14;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: #666;
    font-size: 14px;
}
