body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('3.png') no-repeat center center fixed; 
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin: 20px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  
}
.back-icon {
    position: absolute;
    left: 20px; /* Adjust as needed */
    top: 20px; /* Adjust as needed */
    cursor: pointer;
    color: #ffffff; /* Icon color */
}

.back-icon:hover {
    color: blue; /* Change color on hover */
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}



button.details-btn,
#filterButton {
    background-color: #045206;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0.9, 0.9, 0.9, 0.9);
    margin-bottom: 10px; 
    display: block; /* Ensure buttons take up full width */
    margin: 0 auto; /* Center buttons horizontally */
    text-align: center; 
}

button.details-btn:hover {
    background-color: #08490b; /* Darker green on hover */
}
select[name="status"] {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}
#filterButton:hover{
    background-color: #033411;
}
#filterCriteria {
    display: none;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background for filter criteria */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0.9, 0.9, 0.9, 0.9);
    text-align: center; /* Center the content horizontally */
}

#filterCriteria label {
    margin: 0 10px;
}

#filterCriteria input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9; /* Light gray background for inputs */
    border-radius: 4px;
}


#clearFilterButton {
    background-color: #c70000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    display: block; /* Display as a block element */
    margin: 0 auto; /* Center horizontally */
    margin-top:10px;
}

#clearFilterButton:hover {
    background-color: #960000;
}





.filter-options {   
    display: flex;    
    justify-content: center; 
    flex-wrap: wrap;    

}  
/*.filter-option {  
    flex: 0 0 5%; 
    margin-bottom: 10px;  
    margin-right: 10%; 

}


@media (max-width: 768px) {
    .filter-option {
        flex: 0 0 90%; 
        margin-right: 0;  
    }
}*/

/*.filter-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1; 
}

.filter-container:hover .filter-dropdown {
    display: block;
    max-height: calc(100vh - 120px); 
    overflow-y: auto;
}
*/

table {
    margin-top: 20px; /* Adjusted margin */
    border-collapse: collapse;
    width: calc(100% - 80px); /* Adjusted width to leave space on both sides */
    border-radius: 10px;
    padding: 40px; /* Add padding on both left and right sides */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.6); /* Translucent white background */
}

table th,
table td {
    padding: 12px; /* Increased padding */
    border-bottom: 1px solid #ccc;
    text-align: center;
    border-radius: 5px; /* Added border radius */
}

table th {
    background-color: #156319;
    color: #fff;
    border-radius: 5px;
}